@font-face {
    font-family: 'Archicoco Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Archicoco Regular'), url('Ideas/Archicoco.woff') format('woff');
    }

.navbar-brand {
        display: flex;
        align-items: center;
            
}


.navbar-brand img {
    
    margin-left: 10px;
}

.container{
    justify-content: center;
}

.titlesinarchi{
    font-family: "Archicoco Regular" !important;
    font-size: 1.1em;
    color: white;
    
}   

#Home{
    background-color: #151515;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    
    
}

.nav-link{
    font-family: sans-serif;
    font-weight: 450;
    color: rgb(248, 248, 248) !important;
    font-size: 1em;
    text-transform: uppercase;
    
}
.nav-link:hover {
    color: rgb(247, 175, 40) !important; 
}

#elementsofnav{
    display: flex;
    margin-left: 25px;
    gap: 50px;
    
   
}

.dropdown-menu {
    background-color: #151515 !important; 
    border: none; 
}


.dropdown-item{
    
    color: white !important;
    font-family: sans-serif !important ; 
    font-weight: 450 !important;
   

}

.dropdown-item:hover {
    background-color: #444 !important; 
}

#profilepic {
    border-radius: 50% !important; 
    width: 25px !important;
    height: 25px !important;
    margin-right: 10px;
    

}

.bi-search:hover {
    transform: orange  !important;

}

#searchbutton{
    background-color: #151515 !important;
    border: none !important;
}   



#searchbar{
    background-color: #2d2d2d !important;
    border: 0.5px solid #434343 !important;
    margin-left: 5px;
    padding: 5px;
    border-radius: 30px;
    color: rgb(174, 174, 174);
    padding-left: 20px;
    padding-right: 20px;
    
}

#searchbar:focus {
    outline: none;  
}

#searchbar::placeholder {
    color: rgb(126, 126, 126);


}

#elementsonright{
    padding-right: 20px !important;
   
}



.bi-cart4{
    margin-bottom: 2px;
}

.bi:hover , #profilepic:hover {
    transform: scale(1.2); 
    transition: transform 0.2s ease; 
}


/*-----------------------------------navbar------------------------------------*/

body{
    background: linear-gradient(135deg, #2d2d2d 0%, #aa7013 100%);
    position: relative;
    padding-bottom: 150px;
}

.titles{
    text-align: center;
    padding: 40px;
}


.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    padding: 0 5% ;
    margin: 0 auto;
    
    

}

.mat-col{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border: #f7af28 2px solid;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.mat-col img{
    border: #f7af28 2px solid;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    
}

.flexfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px; ;
    width: 70%;
    margin: 10px;
    margin-top: 0;
    font-weight: 500;
}
h2{
    color: white;
    
    text-transform: uppercase;
    margin-top: 40px !important;
}

h4{
    padding-top: 10px;
}

.price{
    font-size: 1.5em;
    color: #f7af28;
    font-weight: 600;
}

.btn-primary{
    background-color: #f7af28 !important;
    border: #f7af28 1px solid !important;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: none !important;
}

.btn-primary:hover{
    background-color: #f7af28 !important;
    border: #f7af28 1px solid !important;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: none !important;
}

/*Enfinnnnnn !*/